-# -if @auction.active?
-#   .offset5.span2
-#     = button_to('New Bid', new_auction_bid_path(@auction), class: "btn btn-warning btn-large btn-span")

%br

-if @bids.count > 0
  .row-fluid
    .offset3.span6
      %h2.center Bid History
      %table{class: "table table-striped"}
        %tr.row
          %th Bidder
          %th Bid at
          %th Goodles
          %th
          %th
          %th
          - @bids.each do |bid|
            .bid-item
              %tr.row
                %td= bid_owner_name( bid )
                %td= distance_of_time_in_words_to_now(bid.bid_at)
                %td= bid.goodles
                - if current_user.admin?
                  %td= link_to "Delete", auction_engine.auction_bid_path(@auction, bid), {:method=>:delete,  :class=>"destroy btn btn-danger btn-mini", :confirm=>"Are you sure?"}