= render :partial => "knb_auction/application/auction_engine"

%h1.title Auctions


=render :partial => 'auction', :collection => @auctions


- if current_user.admin?
  %br
  .actions
    = link_to 'Create a new Auction', new_auction_path
