.upper.left= link_to "", auctions_path, :class => "backBtn"
%br
%br
%br

= render :partial => "knb_auction/application/auction_engine"

=render :partial => "auction", locals: {auction: @auction}

=render :partial => "bid"

%br
.actions
  = link_to 'Go back to the Auctions list', auctions_path
  - if current_user.admin?
    \|
    = link_to 'Edit this Auction', edit_auction_path(@auction)