.row
  .offset3.span6
    .navbar.center
      %ul.nav
        %li.navbar-text Kids N Bids &copy; 2012
        %li.navbar-text &nbsp;&nbsp;&bull;
        %li
          = link_to "Contact Us","#"
        %li.navbar-text &bull;
        %li
          = link_to "Support", "#"
        %li.navbar-text &bull;
        %li
          = link_to "Privacy & Terms", "#"