/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require bootstrap_and_overrides
*/

$black1: #000000;
$white1: #FFFFFF;
$blue1: #1B4995;
$blue2: #000066;
$blue3: #0066CC;
$blue4: #003333;
$blue5: #BBE6FB;
$blue6: #30B0EF;
$teal1: #8ee8f2;
$green1: #D6E999;
$green2: #C8FC45;
$green3: #99FF66;
$green4: #B4E23F;
$green5: #9CFC7B;
$green6:#96dc3c;
$green7: #b4f534;
$green8: #99d625;
$gray1: #999999;
$gray2: #333333;
$gray3: #CCCCCC;
$gray4: #504e4e;
$orange1: #BE3009;

@font-face {
   font-family: 'Comfort-Regular';
   src: asset-url('fonts/Comfortaa-Regular.ttf', font);
}
@font-face {
   font-family: 'Comfort-Light';
   src: asset-url('fonts/Comfortaa-Light.ttf', font);
}
@font-face {
   font-family: 'Comfort-Bold';
   src: asset-url('fonts/Comfortaa-Bold.ttf', font);
}

@font-face {
   font-family: 'Alber-Bold';
   src: asset-url('fonts/Alber-Bold.otf', font);
}

body, h1, h2, h3, h4, h5, h6, a, p {
 font-family: 'Comfort-Regular', cursive;
}

h1 {
   margin: 20px 0 10px 0; padding: 0;
   font-family: 'Comfort-Regular', cursive;
   font-size: 24px;
   color: $orange1;
}

h2, h3, h4, h5, h6 {
   margin: 0; padding: 10px 0;
   font-weight: bold;
   font-size: 18px;
   color: $black1;
}

p {
  margin: 0; padding: 0 20px 10px 20px;
}

.center {
  text-align:center;
}

.container{
  width:1200px!important;
}

.header {
  position:relative;
  height:100px;
  background:#33a4de;
}

.authenticate{
  position:relative;
  right:0;
  font-family: 'Alber-Bold', sans-serif;
  text-align: right;
  font-size: 14pt;
  line-height:1.33em;
  color: $white1;
  #member a{
    color: $green8;
  }
  #sign-up a{
    color: $blue1;
  }
  #sign-up a:hover{
      color:$teal1;
  }
}

.logo {
  z-index:999;
  position:absolute;
  top:0px;
}

.navbar, .navbar-inner, .navbar-inner .container {
  height: 50px;
  max-height: 50px;
}

.navbar {
  clear:both;
  .links {
    a {
      padding:15px 20px!important;
    }
    font-family: 'Comfort-Bold', sans-serif;
    font-size: 18pt;
  }
}

.collar {
  height: 60px;
  background:#fff;
  ul {
    margin-bottom: 0px !important;
  }
}

.flash{
  margin-top:10px;
  min-height:10px;
  .alert{
    margin-bottom:55px;
  }
}

.main-container {
  margin: 30px 0px 0px;
  padding: 20px 5px;
  background-color: $blue1;
  behavior: url(/assets/PIE.htc);
  box-shadow: 1px 4px 10px $gray2;
  -webkit-box-shadow: 1px 4px 10px $gray2; /*, inset 1px 2px 1px #3d422d;*/
  -moz-box-shadow: 1px 4px 10px $gray2;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #6dbcff; /* Old browsers */
	background: -moz-linear-gradient(top,  #6dbcff 0%, #7ce1ff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6dbcff), color-stop(100%,#7ce1ff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6dbcff 0%,#7ce1ff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6dbcff 0%,#7ce1ff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6dbcff 0%,#7ce1ff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #6dbcff 0%,#7ce1ff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6dbcff', endColorstr='#7ce1ff',GradientType=0 ); /* IE6-9 */
	-pie-background: linear-gradient(#6dbcff, #7ce1ff);
	behavior: url(/PIE.htc);
	border: solid 2px $green3;
}

.footer{
  .center {
    font-family: 'Comfort-Regular', cursive;
    margin-left:80px;
    li {
      z-index:999!important;
    }
    li a{
      padding:15px 8px!important;
    }
    .navbar-text {
      line-height:50px;
    }
  }
}