/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *
 *= require_self
 *= require_tree .
 */
 
 @font-face {
    font-family: 'Comfort-Regular';
    src: asset-url('fonts/knb_auction/Comfortaa-Regular.ttf', font);
 }
 @font-face {
    font-family: 'Comfort-Light';
    src: asset-url('fonts/knb_auction/Comfortaa-Light.ttf', font);
 }
 @font-face {
    font-family: 'Comfort-Bold';
    src: asset-url('fonts/knb_auction/Comfortaa-Bold.ttf', font);
 }

 @font-face {
    font-family: 'Alber-Bold';
    src: asset-url('fonts/knb_auction/Alber-Bold.otf', font);
 }
 
 body {
   font-family: "Comfort-Regular", sans-serif;
 }