#bidsPage {
  div, label, input {
    text-align: center;
    margin:auto;
  }
}

.minimum-bid {
  font: 2em "Comfort-Regular", cursive;
  text-align:center;
  color:#BE3009;
}

.bid-entry {
  text-align:center;
}

.bid-entry-form {
  clear:both;
}